
.Our_services .fa,
a.itemCommentsLink,.itemComments a,.itemCategory a,
.vtem_scroller .prev:hover .fa, .vtem_scroller .next:hover .fa,
.btn-primary:hover,#comment-form .btn.btn-primary:hover,.btn.btn-primary:hover,
h4 a:hover,.fa-angle-double-right, a:hover .fa-angle-double-right,
.pagination > li > a,.pagination > li > a:hover,
.blog h2 a:hover, a:hover, a:focus,a, .vtem_scroller h4 a:hover, ul.latestnews li a:hover,
ul.menu li a:hover, ul.weblinks li a:hover, ul.menu li.active.current a, 
ul.menu li.parent a:hover, ul.menu li.active li.active.curren a,
.login ul.login li a:hover,.btn-link,.btn-link:hover,.page-header h2 a,
.main-mega-menu li.mega-hover > .sub-container.mega > a, 
.main-mega-menu li.mega-hover > .sub-container.mega > a:hover, 
.menuvtem_nav > li.active > .sub-menu > li.active > a, 
.active.parent > .sub-container > li.active > a,
.main-mega-menu .sub-container li.active > a,
.main-mega-menu li.mega-hover > .sub-container.mega > a, 
.main-mega-menu li.mega-hover > .sub-container.mega > a:hover, 
.main-mega-menu .sub-container li.mega-hover > a,
.main-mega-menu .sub-container li.current.active > a,
.active.parent .sub-container li.active > a,
.menuvtem_nav .current.active > a,
.menuvtem_nav > .active > a, .menuvtem_nav > .active > a:hover, 
.menuvtem_nav > .active > a:focus{ color:#528dd4;}


.main-mega-menu .sub-container li.mega-hover > a > .mega-menu-icon,
.main-mega-menu .sub-container li.current.active > a > .mega-menu-icon,
.active.parent .sub-container li.active > a > .mega-menu-icon,
.main-mega-menu li .sub-container a:hover .mega-menu-icon,
.main-mega-menu li .sub-container a:focus .mega-menu-icon {border-top-color: #528dd4;  border-bottom-color: #528dd4; color:#528dd4;}

.vtem_skitter .fa:hover:after{ background:#528dd4;}

.vt_showcase h3 span:after,.vt_feature h3 span:after, 
.vt_bottom h3 span:after{ border-left:12px solid #528dd4; border-right:12px solid #528dd4;}

.mega-menu-wrapper > ul.main-mega-menu > li.current > a, 
.menuvtem_nav > .current.active > a, 
.main-mega-menu > li.mega-hover > a, 
.main-mega-menu > li.mega-hover > a:hover, 
.menuvtem_nav > .active > a, 
.menuvtem_nav > .active > a:hover, 
.menuvtem_nav > .active > a:focus,
.main-mega-menu > li.mega-hover > a, 
.main-mega-menu > li.mega-hover > a:hover, 
.menuvtem_nav > .current.active > a,
.menuvtem_nav > .active > a, 
.menuvtem_nav > .active > a:hover, 
.menuvtem_nav > .active > a:focus{ color:#528dd4 !important;}

.vtem-accordion-wrapper .title.active,
.vtem_skitter .label_skitter,
.btn.btn-primary,
.vt-main-header:before,
.vt-main-header:after,
.template-style1 #vt_logo:before,
#comment-form .btn.btn-primary{ background:#528dd4 !important;}
